Plugins>Drosophila Wing Alignment, "Align Directory with Images", wt.alignment.Alignment_ImageJ
Plugins>Drosophila Wing Alignment, "Quantify Directory of aligned Images", wt.quantify.QuantifyGeneExpression_ImageJ
Plugins>Drosophila Wing Alignment, "Display Tesselation of Template Image", wt.quantify.DisplayTesselation_ImageJ
